/*
.navigation {
    background: #5da4da;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.navigation a {
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
}



.navigation a:hover {
    color: #ff0;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    color: #777;
}

header {
    background: #5da4da;
    box-shadow: 1px 2px 3px #ccc;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
}

figure {
    margin: 0;
}

figcaption {
    padding: 10px;
}

img {
    width: 100%;
}

.content-card {
    background-color: #fff;
    padding: 20px;
    margin-top: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.content-card li {
    border-bottom: 1px #bbb solid;
    padding: 15px 0;
}


/* Removendo última linha */


/*// .content-card li:last-child {
//   border: 0;
// }*/


/* 
  Alternativas de remover a última linha
  Remover borda do primeiro


.content-card li:not(:last-child) {
    border-bottom: 1px #bbb solid;
}

.content-card h4 {
    font-weight: bold;
}

.header-text {
    padding: 15px;
}

.header-text h1 {
    font-size: 30px;
    margin: 8px 0;
}

.header-text h2 {
    font-size: 20px;
    margin: 5px 0;
}

.card-title {
    font-size: 30px;
    margin: 10px 0;
    font-weight: bold;
}

time {
    display: block;
    color: #5da4d9;
    padding: 15px 0;
}

.progress-bar {
    height: 3px;
    width: 100%;
    position: relative;
}


/*.progress-bar::before {
  content: '';
  position: absolute;
  // top: 0;
  // left: 0;
  width: attr(data-value)%;
  height: 100%;
  background: rgb(0, 0, 255);
}
.progress-bar::after {
  content: '';
  position: absolute;
  // top: 0;
  // top: calc(50% - (15px / 2 ) ) ; 
  top: 50%;
  transform: translateY(-50%);
  left: attr(data-value)%;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: rgb(0, 0, 255);
}

.img-container {
    position: relative;
}

.img-container img:first-child {}

.img-container img:last-child {
    top: 0;
    position: absolute;
    transform: rotateY(50deg);
    animation: ;
}

*/

body {
    width: 100%;
    font-family: Arial;
    background: #f0f0f0;
    font-family: "Lato", sans-serif;
}

header {
    width: 100%;
    height: 200px;
    background: #ff6a28;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 50px;
    background: #df511f;
    display: flex;
    align-items: center;
}

nav img {
    height: 30px;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container img {
    width: 145px;
}

.search-container {
    width: 31%;
    height: 100%;
    display: flex;
    align-items: center;
}

.search {
    background-color: #ffffff;
    padding: 2px 2px 2px 15px;
    border-radius: 25px;
    position: relative;
}

.searct-term {
    font-size: 13px;
    width: 170px;
    height: 22px;
    border: none;
    outline: none;
    -moz-appearance: none;
    background: none;
}

.search-icon {
    background-image: url(/images/search.png);
    background-repeat: no-repeat;
    background-color: #fe6a28;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 20px;
    vertical-align: middle;
    text-indent: -1000px;
    overflow: hidden;
    border-radius: 100%;
    background-position: -3px -1px;
    cursor: pointer;
    border: none;
}

.logo-container {
    width: 80%;
    margin: 0 auto;
}

main {
    width: 80%;
    max-width: 1065px;
    min-width: 330px;
    margin: 0 auto;
    height: 100vh;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    background: #ffffff;
    border-radius: 8px;
    min-width: 330px;
    min-height: 145px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    transition: 0.3s;
    margin-top: 25px;
}

.recipe a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.recipe a img {
    height: 150px;
    border-radius: 8px 0 0 8px;
    margin-bottom: 0;
}

.recipe-container {
    margin: 0 10px;
    width: 160px;
}

.recipe-container h4 {
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    color: #b8b8b8;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

.recipe-container h4 span {
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 5px;
    margin: 0 10px;
}

.recipe-container h4:after {
    content: "";
    position: absolute;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.recipe-container h3 {
    font-size: 15px;
    max-width: 160px;
    max-height: 55px;
    overflow: hidden;
    color: #7a7a7a;
    text-transform: uppercase;
}