body {
    width: 100%;
    font-family: Arial;
    background: #f0f0f0;
    font-family: "Lato", sans-serif;
}

header {
    width: 100%;
    height: 200px;
    background: #ff6a28;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 50px;
    background: #df511f;
    display: flex;
    align-items: center;
}

nav img {
    height: 30px;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container img {
    width: 145px;
}

.search-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.search {
    background-color: #ffffff;
    padding: 2px 2px 2px 15px;
    border-radius: 25px;
    position: relative;
}

.search-term {
    font-size: 13px;
    width: 170px;
    height: 22px;
    border: none;
    outline: none;
    -moz-appearance: none;
    background: none;
}

.search-icon {
    background-image: url(/images/search.png);
    background-repeat: no-repeat;
    background-color: #fe6a28;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 20px;
    vertical-align: middle;
    text-indent: -1000px;
    overflow: hidden;
    border-radius: 100%;
    background-position: -3px -1px;
    cursor: pointer;
    border: none;
}

.logo-container {
    width: 80%;
    margin: 0 auto;
}

main {
    width: 80%;
    max-width: 1220px;
    min-width: 330px;
    margin: 0 auto;
    height: 100vh;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    background: #ffffff;
    box-shadow: 2px 2px 2px rgba(148, 148, 148, 0.5);
    border-radius: 8px;
    min-width: 330px;
    min-height: 145px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    transition: 0.3s;
    margin-top: 25px;
}

.recipe:hover {
    box-shadow:  4px 4px 2px rgba(148, 148, 148, 0.5);
}

.recipe a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.recipe a img {
    height: 150px;
    border-radius: 8px 0 0 8px;
    margin-bottom: 0;
}

.recipe-container {
    margin: 0 10px;
    width: 160px;
}

.recipe-container h4 {
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    color: #b8b8b8;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

.recipe-container h4 span {
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 5px;
    margin: 0 10px;
}

.recipe-container h4:after {
    content: "";
    position: absolute;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.recipe-container h3 {
    font-size: 15px;
    max-width: 160px;
    overflow: hidden;
    color: #7a7a7a;
    text-transform: uppercase;
}
